################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/coreapi/.vs/coreapi
/coreapi/coreapi/bin/Debug/netcoreapp3.1
/coreapi/coreapi/obj
